@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



.hh1 {
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
    font-size: 30px;
}
.shh1 {
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
    font-size: 30px;
}
.dhh1{
    font-family: 'Oswald', sans-serif;
}

.catpro{
    margin-top: 5px;
        font-family: 'Oswald', sans-serif;
}