.modal{
        width: 100vw;
        height: 100%;
        top: 0;
        left: 1%;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 3;
}

.overlay {
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay {
    background: rgba(49, 49, 49, 0.3);
}
.modal_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 0;
    left: 67%;
    background: #f1f1f1;
    height: 100vh;
    width: 32vw;
    overflow-y: hidden;
}



.horizontalslider{
    height: 3px;
    background: black;
    margin-left: 11%;
    width: 77%;
    margin-top: 45px;
}
.thumb{
    background: white;
    border-radius: 50%;
    border: solid black 2px;
    padding: 10px;
    margin-top: -10px;
}
