.homepc{
    /* height:100vh; */
    /* width: 80%; */
    /* border: 1px solid red; */
    
    img{
        object-fit: cover;
            height: 90vh;
    }
    
}




@media screen and (max-width:980px) {
    img{
        width: 100%;
        object-fit: cover;
    }
}